auth --enableshadow --passalgo=sha512
url --url http://mirror.centos.org/centos/7/os/x86_64
# no need for a graphical install if its automated
text
# Firstboot configuration not needed when using configuration management
firstboot --disable
ignoredisk --only-use=sda
keyboard --vckeymap=us --xlayouts='us'
skipx
eula --agreed
lang en_US.UTF8
repo --name=epel --baseurl=http://dl.fedoraproject.org/pub/epel/7/x86_64/
network --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network --hostname=d1.home.test
rootpw --plaintext root
services --enabled="chronyd"
timezone America/Vancouver --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
bootloader --append=" crashkernel=auto net.ifnames=0" --location=mbr --boot-drive=sda
autopart --type=lvm --encrypted --passphrase=root
clearpart --all --initlabel --drives=sda

reboot --eject

%packages
@^minimal
@core
chrony
kexec-tools
git
epel-release
python-jinja2
ansible

%end

%post
# Download the ansible project
chage -d 0 root
cd /root && git clone https://github.com/dmbrownlee/home.test.git
cd home.test/ansible &&
echo 'd1.home.test ansible_connection=local' >> inventory &&
ansible-playbook -i inventory playbook.yml

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
