#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda
# License agreement
eula --agreed
# Reboot after installation
reboot --eject
# Use text mode install
text
repo --name="epel" --baseurl=http://dl.fedoraproject.org/pub/epel/8/Everything/x86_64/
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s31f6 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=localhost.localdomain
# Root password
rootpw --plaintext password
# X Window System configuration information
xconfig  --startxonboot
# Firstboot configuration not needed when using configuration management
firstboot --disable
# System services
services --enabled="chronyd"
# System timezone
timezone America/Vancouver --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org

%packages
@^graphical-server-environment
ansible
epel-release
git-core
kexec-tools

%end

%post --log=/root/ks-post.log
ansible-pull --skip-tags devexclude --ask-vault-pass --vault-id dev@prompt -U https://github.com/dmbrownlee/home.git ansible/playbooks/ks.yml
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
