#version=RHEL8
# Use text mode install
text

# Install source is network mirrors
url --mirrorlist="https://mirrors.rockylinux.org/mirrorlist?repo=rocky-BaseOS-8.5&arch=x86_64"

ignoredisk --only-use=mmcblk0
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=mmcblk0

# System timezone
timezone America/Vancouver --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org

# Network configuration
network  --bootproto=dhcp --device=enp1s0 --ipv6=auto --activate
#network  --hostname=localhost.localdomain

# Default accounts
rootpw --lock
user --uid 4999 --groups=wheel --name=confmgt --password=password --gecos="Configuration management account"

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# License agreement
eula --agreed
# Firstboot configuration not needed when using configuration management
firstboot --disable
# System services
services --enabled="chronyd"
# Reboot after installation
reboot --eject

%packages
@^minimal-environment
kexec-tools

%end

%post --log=/root/ks-post.log
yum update
yum install -y epel-release git-core
yum install -y ansible
# Echo cmdline for debugging
cat /proc/cmdline

VPWURL=""
for o in `cat /proc/cmdline`; do
  case $o in
    vpwurl=*)
      # You must pass VPWURL, the URL to the ansible vault password file,
      # as a kernel bootarg (in addition to passing this kickstart file).
      VPWURL=${o#*=}
      ;;
    fqdn=*)
      # In order to use the same kickstart file for multiple machines, you
      # must pass FQDN as a kernel bootarg
      FQDN=${o#*=}
      ;;
  esac
done

# Set the hostname before running ansible-pull
echo $FQDN > /etc/hostname

# Fetch the ansible-vault password file from the URL and run ansible-pull
CONFIG_USER=confmgt
CONFIG_USER_HOME=/home/$CONFIG_USER
VAULT_PULL_OPT=""
if [ -n "$VPWURL" ]; then
  VAULT_PASSWORD_FILE=$CONFIG_USER_HOME/.vaultpw
  curl -o $VAULT_PASSWORD_FILE $VPWURL
  chown $CONFIG_USER:$CONFIG_USER $VAULT_PASSWORD_FILE
  chmod 600 $VAULT_PASSWORD_FILE
  VAULT_PULL_OPT="--vault-password-file $VAULT_PASSWORD_FILE"
fi

ansible-pull $VAULT_PULL_OPT -U https://github.com/dmbrownlee/home.git -C release pull.yml
#
#chage -d 0 $CONFIG_USER
#passwd -l $CONFIG_USER
#
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
